@model car_center_api.Models.Repuesto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Repuesto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomRep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomRep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlrRep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlrRep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodCalRepNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodCalRepNavigation.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodTipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodTipoNavigation.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodRep">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
