@model car_center_api.Models.FacturaEnca

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FacturaEnca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlrDcto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlrDcto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecFac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecFac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlrTot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlrTot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlrIva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlrIva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodCliNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodCliNavigation.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEstFacNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEstFacNavigation.CodEstFac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodMecNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodMecNavigation.CodEstMec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodPagoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodPagoNavigation.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodFacEnc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
