@model car_center_api.Models.Mecanico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mecanico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimNom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimNom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeguNom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeguNom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimApe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimApe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeguApe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeguApe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroCel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroCel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecReg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecReg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEstMecNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEstMecNavigation.CodEstMec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodTallerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodTallerNavigation.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodTipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodTipoNavigation.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodZonaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodZonaNavigation.NomZona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDocNavigation.TipoDoc1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodMec">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
