@model car_center_api.Models.EstVehiculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EstVehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodVehNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodVehNavigation.Color)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodEstVeh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
