@model IEnumerable<car_center_api.Models.SolicitudSerRepuesto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodRepNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodSolicNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodRepNavigation.NomRep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodSolicNavigation.CodSolic)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodSolSerRep">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodSolSerRep">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodSolSerRep">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
