@model car_center_api.Models.FacturaDeta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FacturaDeta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlrSub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlrSub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodFacEncNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodFacEncNavigation.CodEstFac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodSolSerRepNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodSolSerRepNavigation.CodSolSerRep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodSolicNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodSolicNavigation.CodSolic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodFacDet">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
